* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #32012F;
    --secondry: #524C42;
    --light-grey: #E2DFD0;
    --orange: #F97300;
}

#body {
    background-color: var(--primary);
}

#body h1 {
    color: var(--orange);
}

#btn {
    width: 100px;
    height: 48px;
    background-color: var(--orange);
    border-radius: 0;
}

#copy {
    background-color: var(--light-grey);
    width: 100px;
    height: 48px;
    border-radius: 0;
}

#search {
    width: 300px;
    height: 48px;
    padding: 10px;
}

.content {
    background-color: var(--light-grey);
    width: 100%;
    padding: 10px;
    display: none;
}

@media (max-width: 480px) {
    .main-section {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translate(-50%,30%);
    }
}